{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Commerce50{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <div class="row align-items-end" style="padding-top: 1%;">
              <div class="col align-items-end">
                <div class="row align-items-end">
                    <h3 style="margin: 0;">Commerce50</h1>
                    <div class="col align-self-end" >
                        {% if user.is_authenticated %}
                            welcomes <strong>{{ user.username }}</strong>
                        {% else %}
                            welcomes Anonymous User
                        {% endif %}
                    </div>
                </div>
              </div>
              
              <div class="col-md-auto align-self-end">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'create' %}">Create Listings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                
              </div>
            </div>
            <hr>
            {% block body %}
            {% endblock %}
        </div> 
    </body>
</html>
